<footer class="footer-distributed">
    <div class="row">
       <div class="col-lg-2 col-xs-2"></div>
       <div class="col-lg-4 col--12">
          <div class="row">
             <div class="col-3"></div>
             <div class="col-6">
                <div class="footer-left">
                   <div class="row">
                      <div class="col-1"></div>
                      <div class="col-4">
                         <div class="logo"><img src="../../assets/img/herentals.png" class=" logo-footer"></div>
                      </div>
                      <div class="col-7"></div>
 
                   </div>
                   <div class="footer-center">
 
                      <div class="footer-element">
                         <i class="fa fa-map-marker"></i>
                         <p><span>Augustijnenlaan 30</span>2200 Herentals</p>
                      </div>
 
                      <div class="footer-element">
                         <i class="fas fa-globe"></i>
                         <p><a href="https://www.herentals.be/" target="_blank">Website</a></p>
                      </div>
 
                      <div class="footer-element">
                         <i class="fa fa-phone"></i>
                         <p>014-28 50 50</p>
                      </div>
 
                      <div class="footer-element">
                         <i class="fa fa-envelope"></i>
                         <p><a href="mailto:info@herentals.be">info@herentals.be</a></p>
                      </div>
 
                   </div>
                </div>
             </div>
             <div class="col-3"></div>
          </div>
       </div>
 
       <div class="col-lg-4 col-xs-12">
          <div class="logo" style="text-align: center;"><img src="../../assets/img/logo.png" class=" logo-footer"></div>
          <div class="row">
             <div class="col-3"></div>
             <div class="col-6">
                <div class="footer-left">
                   <div class="footer-center">
 
                      <div class="footer-element">
                         <i class="fa fa-map-marker"></i>
                         <p><span>Kleinhoefstraat 4</span>2440 Geel</p>
                      </div>
 
                      <div class="footer-element">
                         <i class="fas fa-globe"></i>
                         <p><a href="https://connectit.sinners.be/" target="_blank">Website</a></p>
                      </div>
 
                      <div class="footer-element">
                         <i class="fa fa-phone"></i>
                         <p>+32 477 757 169</p>
                      </div>
                      <div class="footer-element">
                         <i class="fa fa-envelope"></i>
                         <p><a href="mailto:thomas.dergent@student.thomasmore.be">Connect-IT</a></p>
                      </div>
 
                   </div>
                </div>
             </div>
             <div class="col-3"></div>
          </div>
       </div>
 
       <div class="col-lg-3 col-sm-3"></div>
    </div>
 
 </footer>