<div class="enquetes">
    <section id="general" class="bootstrapCard">
        <div class="container">
            <span *ngIf="currentEnquete == null">
                <mat-spinner></mat-spinner>
            </span>
            <span *ngIf="currentEnquete != null">
            <div class="section-title">
                <h2>Enquete</h2>
                <p>Enquete {{currentEnquete.naam}}:</p>
            </div>
            <survey-analytics *ngIf="json !=null && answers != null" [json]="json" [answers]="answers"></survey-analytics>
        </span>
        </div>
    </section>
</div>
