<div class="addVuilbak">
    <section id="general" class="bootstrapCard">
        <div class="container">

            <div class="section-title">
                <h2>Vuilbakken</h2>
                <p>Vuilbak toevoegen</p>
            </div>


                <div class="d-flex align-items-stretch card-margin d-flex justify-content-center">
                    <div class="card" style="width: 42rem; height: 36rem;">
                        <h4 class="card-header text-center">
                            <a class="fa-stack fa-3x">
                                <i class="fas fa-dumpster fa-stack-1x fa-inverse"></i>
                            </a>
                        </h4>
                        <div class="card-body shadow">
                            <div class="d-flex justify-content-center form_container">
                                <form #userForm="ngForm" (ngSubmit)="addVuilbak()">
                                    <p class="h6">Straat:</p>
                                    <div class="input-group mb-3">
                                        <input [(ngModel)]="newVuilbak.straat" name="straat" type="text"
                                            class="form-control" id="straat" placeholder="Straat" required />
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <p class="h6">Lengtegraad:</p>
                                            </div>
                                            <div class="col-6">
                                                <p class="h6">Breedtegraad:</p>
                                            </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="input-group mb-3">
                                                <input [(ngModel)]="newVuilbak.lengtegraad" name="lengtegraad" type="number"
                                                    class="form-control" id="lengtegraad" placeholder="Lengtegraad" required />
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="input-group mb-3">
                                                <input [(ngModel)]="newVuilbak.breedtegraad" name="breedtegraad" type="number"
                                                    class="form-control" id="breedtegraad" placeholder="Breedtegraad" required />
                                            </div>
                                        </div>
                                    </div>
                                    <p class="h6">Max volume:</p>
                                    <div class="input-group mb-3">
                                        <input [(ngModel)]="newVuilbak.wanneerVol" name="wanneerVol" type="number"
                                            class="form-control" id="wanneerVol" placeholder="Max Volume" required />
                                    </div>
                                    <div class="row">
                                        <div class="col-6">          
                                            <p class="h6">Zone:</p>
                                            <div class="input-group mb-3" style="margin-top: 15px !important;">
                                                <div class="input-group-append">
                                                    <select [(ngModel)]="zoneID" name="zone" class="form-control"id="zone" aria-label="Zone" required>
                                                        <ng-container *ngFor="let zone of zones">
                                                            <option [value]="zone.zoneID">
                                                                {{zone.naam}}
                                                            </option>
                                                        </ng-container>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="row addVuilbakButtons">
                                                <div class="col-12 col-sm-6 text-center text-sm-left mt-2">
                                                    <button type="submit" class="btn btn-primary addButton"
                                                        [disabled]="!userForm.form.valid">Toevoegen</button>
                                                </div>
                                                <div class="col-12 col-sm-6 text-center text-sm-right mt-2">
                                                    <button class="btn btn-danger cancelButton" (click)="terug()">Annuleren</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</div>