<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

<div class="editAccount">
    <section id="general" class="bootstrapCard">
        <div class="container">
            <div class="section-title">
                <h2>Account</h2>
                <p>Bewerk mijn account</p>
            </div>
            <div class="d-flex align-items-stretch card-margin d-flex justify-content-center">
                <div class="card" style="width: 23rem;">
                    <h4 class="card-header text-center">
                        <a class="fa-stack fa-3x">
                            <i *ngIf="role == 'Ophaler'" class="fas fa-hard-hat fa-stack-1x fa-inverse"></i>
                            <i *ngIf="role == 'Admin'" class="fas fa-user-cog fa-stack-1x fa-inverse"></i>
                            <i *ngIf="role == 'Groendienst'" class="fas fa-recycle fa-stack-1x fa-inverse"></i>
                        </a>
                    </h4>
                    <div class="card-body shadow">
                        <div class="d-flex justify-content-center">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 mb-1 mb-sm-3">
                                        Gebruikersnaam: {{currentUser.username}}
                                    </div>
                                    <div class="col-12 col-sm-9 mb-1 mb-sm-3">
                                        Wachtwoord: ••••••• 
                                    </div>
                                    <div class="col-12 col-sm-3 mb-1 mb-sm-3">
                                        <button (click)="changeWacht()" type="button" class="btn btn-sm btn-outline-primary text-right">Verander</button>
                                    </div>
                                    <div class="col-12">
                                        U bent ingelogd als een <b>{{role}}</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-primary" (click)="logOut()">Log uit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
