<!--<div class="container mt-5">
    <mat-spinner *ngIf="vuilbakData == null"></mat-spinner>
    <mat-card *ngFor="let vuilbak of vuilbakData">
        <mat-card-content>
            <mat-progress-spinner mode="determinate" value="vuilbak.volheid">

            </mat-progress-spinner>
        </mat-card-content>
    </mat-card>
</div>-->
<!-- ======= Contact Section ======= -->

<div class="vuilnisbakken">
    <section id="general" class="bootstrapCard">
        <div class="container">

            <div class="section-title">
                <h2>Vuilnisbakken</h2>
                <p>Overzicht vuilnisbakken</p>
            </div>

            <div class="row filterCard">
                <div class="col-12">
                    <div class="card shadow">
                        <div class="card-header">
                            <h1>
                                Filteren
                            </h1>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="row">
                                        <div class="col-2">
                                        </div>
                                        <div class="col-10">
                                            <div class="row">
                                                <div class="col-1">
                                                    <input type="checkbox" id="brand" name="brand" value="brand">
                                                </div>
                                                <div class="col-11">
                                                    <label for="brand">Brand</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="row">
                                        <div class="col-2">
                                            <label for="title">Titel</label>
                                        </div>
                                        <div class="col-10">
                                            <input type="text" name="title" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="row">
                                        <div class="col-2">
                                            <label for="title">Titel</label>
                                        </div>
                                        <div class="col-10">
                                            <input type="text" name="title" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="row">
                                        <div class="col-2">
                                            <label for="title">Titel</label>
                                        </div>
                                        <div class="col-10">
                                            <input type="text" name="title" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="card shadow">
                        <div class="card-header">
                            <p>
                                <i class="ri-map-pin-line"></i><span> Hier komt een adress</span>
                            </p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Huidig gewicht: "hier komt value gewicht"</h5>
                            <p class="card-text align-items-center d-flex justify-content-center">
                                <circle-progress [percent]="percentage" [radius]="100" [subtitle]="subTitle" [outerStrokeWidth]="16" titleFontSize='25' subtitleFontSize='20'
                                 [innerStrokeWidth]="8" [outerStrokeColor]="color" [innerStrokeColor]="'#1B3C65'" 
                                [animation]="true" [animationDuration]="300"></circle-progress>
                            </p>
                            <div>
                                <iframe class="iFrame"
                                    src="https://maps.google.com/maps?q= 51.160989081938844, 4.961401173259756&z=15&output=embed"
                                    frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            Laats bijgewerkt op "hier komt waarde tijd"
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>