<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous" />

<div class="overzichtVuilbakken">
    <section id="general" class="bootstrapCard">
        <div class="container">
            <div class="section-title">
                <h2>Vuilnisbakken</h2>
                <p>Overzicht vuilnisbakken</p>
            </div>
            <div class="row filterCard">
                <div class="col-12">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <h1>
                                        Filteren
                                    </h1>
                                </div>
                                <div class="col-8 text-right my-auto">
                                    <button (click)="toggleFire()" *ngIf="fireFilter == false"
                                        class="btn btn-danger brandKnop">Brand noodknop <i
                                            class="fas fa fa-fire-alt brandIcoon"></i></button>
                                    <button (click)="toggleFire()" *ngIf="fireFilter == true"
                                        class="btn btn-danger vuilbakKnop">Toon vuilnisbakken <i
                                            class="fas fa-dumpster"></i></button>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-12">
                                                    <label for="title">Straat:</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-12">
                                                    <input type="text" [(ngModel)]="straatFilter" name="straat"
                                                        class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-12">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-6">
                                                    <label for="title">Zone:</label>
                                                </div>
                                                <div class="col-6 text-right my-auto">
                                                    <div *ngIf="editMode">
                                                        <div class="row">
                                                            <div class="col-3 col-md-6">

                                                            </div>
                                                            <div class="col-3 col-md-2 text-right my-auto">
                                                                <i (click)="openAdd(zoneW)" class="fas fa-plus add"></i>
                                                            </div>
                                                            <div class="col-3 col-md-2 text-right my-auto">
                                                                <i (click)="openChange(zoneW)"
                                                                    class="fas fa-pen edit"></i>
                                                            </div>
                                                            <div class="col-3 col-md-2 text-right my-auto">
                                                                <i (click)="openDelete(zoneD)"
                                                                    class="fas fa-trash delete"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-8 col-md-9">
                                                    <select name="zone" class="form-control" id="zone" aria-label="Zone"
                                                        *ngIf="alleZones == null">
                                                        <option>Laden...</option>
                                                    </select>
                                                    <select *ngIf="alleZones != null" [(ngModel)]="selectedZone"
                                                        name="zone" class="form-control" id="zone" aria-label="Zone">
                                                        <option value="0" selected>Alle zones</option>
                                                        <ng-container *ngFor="let zone of alleZones">
                                                            <option [ngValue]="zone.zoneID">
                                                                {{zone.naam}}
                                                            </option>
                                                        </ng-container>
                                                    </select>
                                                </div>
                                                <div class="col-4 col-md-3 text-right my-auto">
                                                    <button (click)="toggleEditMode(true)" value="wijzigen"
                                                        *ngIf="editMode == false"
                                                        class="btn btn-danger vuilbakKnop">Bewerk</button>
                                                    <button (click)="toggleEditMode(false)" value="filter"
                                                        *ngIf="editMode"
                                                        class="btn btn-danger vuilbakKnop">Klaar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="slider" class="form-label">Vuilbakken ophalen binnen:
                                                <b *ngIf="aantalDagenOphalen > 0">{{aantalDagenOphalen}}</b>
                                                <span *ngIf="aantalDagenOphalen == -1">
                                                    <b>(Toon alles)</b>
                                                </span>
                                                <span *ngIf="aantalDagenOphalen == 0">
                                                    <b>0</b> dagen (direct!)
                                                </span>
                                                <span *ngIf="aantalDagenOphalen == 1">
                                                    dag
                                                </span>
                                                <span *ngIf="aantalDagenOphalen > 1">
                                                    dagen
                                                </span>
                                                <span *ngIf="aantalDagenOphalen > 0">
                                                    ({{getWhatDay(aantalDagenOphalen)}})
                                                </span>
                                            </label><br />
                                        </div>
                                        <div class="col-12">
                                            <input type="range" min="-1" max="14" [(ngModel)]="aantalDagenOphalen"
                                                name="slider" class="form-range" id="slider"
                                                style="margin-top: 30px !important;">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-12">
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="title">Volheid (%):</label>
                                        </div>
                                        <div class="col-12 volheidSlider">

                                            <ngx-slider [(value)]="volhMin" [(highValue)]="volhMax" [options]="options">
                                            </ngx-slider>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-5 col-sm-11 col-12">
                    <div class="row">
                        <div class="col-lg-7 col-sm-5 col-12">
                            <div class="row">
                                <div class="col-md-12">
                                    Kaart op te halen vuilbakken
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-sm-7 col-12 text-left">
                            <a href="https://visualisaties.netlify.app/map" class="btn btn-danger vuilbakKnop">Open kaart</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-sm-1 col-12"></div>
            </div>

            <mat-spinner *ngIf="vuilbakData == null"></mat-spinner>
            <div class="row" *ngIf="vuilbakData != null">
                <ng-container *ngFor="let vuilbak of vuilbakData; let i = index">
                    <ng-container
                        *ngIf="assignPercentage((1 - (vuilbak.vuilbak.volheid/vuilbak.vuilbak.wanneerVol)) * 100); let perc">
                        <div *ngIf="filterSearch(vuilbak.vuilbak.straat, straatFilter)
                                    && perc >= volhMin
                                    && perc <= volhMax
                                    && (!fireFilter || vuilbak.vuilbak.brand)
                                    && (aantalDagenOphalen == -1 || aantalDagenOphalen == vuilbak.whenFull)
                                    && ((editMode && (vuilbak.vuilbak.zoneID == null || vuilbak.vuilbak.zoneID == selectedZone)) || selectedZone == 0 || selectedZone == vuilbak.vuilbak.zoneID)"
                            class="col-sm-12 col-md-12 col-lg-6">
                            <div *ngIf="!vuilbak.vuilbak.brand" class="card shadow mt-5">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-10 text-left">
                                            <p>
                                                <i class="ri-map-pin-line"></i><span> {{vuilbak.vuilbak.straat}}</span>
                                                <span *ngIf="vuilbak.vuilbak.zone != null">
                                                    <span><b> - Zone: </b>{{vuilbak.vuilbak.zone.naam}}</span>
                                                </span>
                                            </p>
                                        </div>
                                        <div class="col-2 text-right">
                                            <div class="row">
                                                <div class="col-1">
                                                </div>
                                                <div class="col-11" style="margin-top: -18px !important;">
                                                    <i (click)="addZoneToVuilbak(vuilbak.vuilbak)"
                                                        class="ri-add-box-line ri-2x"
                                                        *ngIf="editMode && vuilbak.vuilbak.zoneID == null"></i>
                                                    <i (click)="removeZoneFromVuilbak(vuilbak.vuilbak)"
                                                        class="ri-checkbox-indeterminate-line ri-2x"
                                                        *ngIf="editMode && vuilbak.vuilbak.zoneID != null"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 col-sm-2"></div>
                                        <div class="col-lg-6 col-md-5 col-sm-8">
                                            <h3 class="align-items-center d-flex justify-content-center shadow">Huidig
                                                gewicht:
                                                {{convertGram(vuilbak.vuilbak.gewicht)}}</h3>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-2">
                                        </div>
                                        <div class="col-12 text-center">
                                            <p *ngIf="vuilbak.whenFull > 0">
                                                Vuilbak ophalen binnen <b>{{vuilbak.whenFull}}</b>
                                                <span *ngIf="vuilbak.whenFull > 1">
                                                    dagen
                                                </span>
                                                <span *ngIf="vuilbak.whenFull == 1">
                                                    dag
                                                </span>
                                            </p>
                                            <p *ngIf="vuilbak.whenFull == 0">Vuilbak direct ophalen!</p>
                                            <p *ngIf="vuilbak.whenFull == null">Niet genoeg data voor voorspelling</p>
                                        </div>
                                    </div>
                                    <div class="card-text align-items-center d-flex justify-content-center">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <circle-progress
                                                    class="align-items-center d-flex justify-content-center"
                                                    [percent]="perc" [radius]="100" [subtitle]="getText(perc)"
                                                    [backgroundPadding]="0" [radius]="85" [outerStrokeWidth]="12"
                                                    titleFontSize='25' subtitleFontSize='20' [innerStrokeWidth]="5"
                                                    [outerStrokeColor]="getColor(perc)" [innerStrokeColor]="'#1B3C65'"
                                                    [animation]="true" [animationDuration]="300" [toFixed]="2"
                                                    outerStrokeLinecap="square">
                                                </circle-progress>
                                            </div>
                                            <!--<div class="col-md-6 col-sm-12">
                                                <h2 class="align-items-center d-flex justify-content-center">
                                                    Voorspelling</h2>
                                                <circle-progress
                                                    class="align-items-center d-flex justify-content-center shadow"
                                                    [percent]="vuilbak.prediction" [radius]="100"
                                                    [subtitle]="getText(vuilbak.prediction)" [backgroundPadding]="0" [outerStrokeWidth]="12" [radius]="85"
                                                    titleFontSize='25' subtitleFontSize='20' [innerStrokeWidth]="5"
                                                    [outerStrokeColor]="getColor(vuilbak.prediction)"
                                                    [innerStrokeColor]="'#1B3C65'" [animation]="true"
                                                    [animationDuration]="300" [toFixed]="2" outerStrokeLinecap="square">
                                                </circle-progress>
                                            </div>-->
                                        </div>
                                    </div>
                                    <div>
                                        <iframe
                                            *ngIf="vuilbak.vuilbak.breedtegraad != null && vuilbak.vuilbak.lengtegraad != null"
                                            class="iFrame shadow mt-3" [src]="frameUrls[i]" frameborder="0"
                                            allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="vuilbak.vuilbak.brand" class="card shadow mt-5 bootstrapCardBrand">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-6">
                                            <p>
                                                <i class="ri-map-pin-line"></i><span>{{vuilbak.vuilbak.straat}}</span>
                                            </p>
                                        </div>
                                        <div class="col-6 text-right">
                                            <p *ngIf="vuilbak.vuilbak.zoneID != null">
                                                <span>{{vuilbak.vuilbak.zone.naam}}</span><i
                                                    class="ri-map-pin-line"></i>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 col-sm-2"></div>
                                        <div class="col-lg-6 col-md-5 col-sm-8">
                                            <h3 class="align-items-center d-flex justify-content-center shadow">Brand!
                                            </h3>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-2"></div>
                                    </div>
                                    <div class="fireDumpster align-items-center d-flex justify-content-center">
                                        <i class="fas fa-dumpster-fire fa-10x"></i>
                                    </div>
                                    <div>
                                        <iframe
                                            *ngIf="vuilbak.vuilbak.breedtegraad != null && vuilbak.vuilbak.lengtegraad != null"
                                            class="iFrame shadow mt-3" [src]="frameUrls[i]" frameborder="0"
                                            allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
            <!--Modal voor zone edit & add-->
            <ng-template #zoneW let-modal>
                <div class="modal-header">
                    <h2 class="modal-title" id="modal-basic-title">Zone</h2>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="h6">Naam van zone:</label>
                            <input type="text" [(ngModel)]="zoneNaamInput" name="zone" class="form-control" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button *ngIf="!addOrChange" type="button" class="btn btn-outline-success"
                        (click)="addZone()">Opslaan</button>
                    <button *ngIf="addOrChange" type="button" class="btn btn-outline-success"
                        (click)="changeZone()">Verander</button>
                    <button type="button" class="btn btn-outline-dark" (click)="modal.close('')">Annuleer</button>
                </div>
            </ng-template>
            <!--Modal voor zone delete-->
            <ng-template #zoneD let-modal>
                <div class="modal-header">
                    <h2 class="modal-title" id="modal-basic-title">Zone</h2>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="h6">Verwijder zone <b>{{zoneNaamInput}}</b>?</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success" (click)="deleteZone()">Verwijder</button>
                    <button type="button" class="btn btn-outline-dark" (click)="modal.close('')">Annuleer</button>
                </div>
            </ng-template>
        </div>
    </section>
</div>