<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous" />

<ff-alerts></ff-alerts>
<div class="overzichtVuilbakken">
    <section id="general" class="bootstrapCard">
        <div class="container">
            <div class="section-title">
                <h2>Vuilnisbakken</h2>
                <p>Overzicht vuilnisbakken</p>
            </div>
            <div class="row filterCard">
                <div class="col-12">
                    <div class="card shadow">
                        <div class="card-body">
                            <h1>
                                Filteren
                            </h1>
                            <div class="row">
                                <div class="col-md-8 col-12">
                                    <label for="title">Straat:</label>
                                    <input type="text" [(ngModel)]="straatFilter" name="straat"
                                        class="form-control w-75" />
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="title">Volheid tussen:</label>
                                        </div>
                                        <div class="col-4">
                                            <input type="number" [(ngModel)]="volhMin" min="0" [max]="volhMax" step="5"
                                                name="nr1" class="form-control" />
                                        </div>
                                        <div class="col-auto text-center">
                                            <label for="title">en</label>
                                        </div>
                                        <div class="col-4">
                                            <input type="number" [(ngModel)]="volhMax" [min]="volhMin" max="100"
                                                step="5" name="nr2" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <label for="slider" class="form-label">Bereik voorspelling (vorige dagen):
                                        <b>{{maxDagAantal}}</b></label><br />
                                    <input type="range" min="1" max="14" (change)="BouwLoggingOp()" [(ngModel)]="maxDagAantal" name="slider"
                                        class="form-range w-75" id="slider">
                                </div>
                                <div class="col-12 col-sm-4 text-right text-sm-center my-auto">
                                    <button (click)="toggleFire()" *ngIf="fireFilter == false" class="btn btn-danger brandKnop">Brand noodknop <i class="fas fa fa-fire-alt brandIcoon"></i></button>
                                    <button (click)="toggleFire()" *ngIf="fireFilter == true" class="btn btn-danger vuilbakKnop">Toon vuilnisbakken <i class="fas fa-dumpster"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <ng-container *ngFor="let vuilbak of vuilbakData; let i = index">
                    <ng-container
                        *ngIf="vuilbak.vuilbak.brand == false && assignPercentage(vuilbak.vuilbak.volheid/vuilbak.vuilbak.wanneerVol*100); let perc">
                        <div *ngIf="filterSearch(vuilbak.vuilbak.straat, straatFilter)
                                    && perc >= volhMin
                                    && perc <= volhMax
                                    && (!fireFilter || fireFilter == vuilbak.vuilbak.brand)"
                            class="col-sm-12 col-md-12 col-lg-6">
                            <div class="card shadow mt-5">
                                <div class="card-header">
                                    <p>
                                        <i class="ri-map-pin-line"></i><span> {{vuilbak.vuilbak.straat}}</span>
                                    </p>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 col-sm-2"></div>
                                        <div class="col-lg-6 col-md-5 col-sm-8">
                                            <h3 class="align-items-center d-flex justify-content-center shadow">Huidig gewicht:
                                                {{convertGram(vuilbak.vuilbak.gewicht)}}</h3>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-2"></div>
                                    </div>
                                    <div class="card-text align-items-center d-flex justify-content-center">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12">
                                                <h2 class="align-items-center d-flex justify-content-center">Huidige
                                                    waarde</h2>
                                                <circle-progress
                                                    class="align-items-center d-flex justify-content-center shadow"
                                                    [percent]="perc" [radius]="100" [subtitle]="getText(perc)" [backgroundPadding]="0" [radius]="85"
                                                    [outerStrokeWidth]="12" titleFontSize='25' subtitleFontSize='20'
                                                    [innerStrokeWidth]="5" [outerStrokeColor]="getColor(perc)"
                                                    [innerStrokeColor]="'#1B3C65'" [animation]="true"
                                                    [animationDuration]="300" [toFixed]="2" outerStrokeLinecap="square">
                                                </circle-progress>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <h2 class="align-items-center d-flex justify-content-center">
                                                    Voorspelling</h2>
                                                <circle-progress
                                                    class="align-items-center d-flex justify-content-center shadow"
                                                    [percent]="vuilbak.prediction" [radius]="100"
                                                    [subtitle]="getText(vuilbak.prediction)" [backgroundPadding]="0" [outerStrokeWidth]="12" [radius]="85"
                                                    titleFontSize='25' subtitleFontSize='20' [innerStrokeWidth]="5"
                                                    [outerStrokeColor]="getColor(vuilbak.prediction)"
                                                    [innerStrokeColor]="'#1B3C65'" [animation]="true"
                                                    [animationDuration]="300" [toFixed]="2" outerStrokeLinecap="square">
                                                </circle-progress>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <iframe
                                            *ngIf="vuilbak.vuilbak.breedtegraad != null && vuilbak.vuilbak.lengtegraad != null"
                                            class="iFrame shadow mt-3" [src]="frameUrls[i]" frameborder="0"
                                            allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="assignPercentage(vuilbak.vuilbak.volheid/vuilbak.vuilbak.wanneerVol*100); let perc">
                    <div *ngIf="vuilbak.vuilbak.brand == true"
                        class="col-sm-12 col-md-12 col-lg-6">
                        <div class="card shadow mt-5 bootstrapCardBrand">
                            <div class="card-header">
                                <p>
                                    <i class="ri-map-pin-line"></i><span> {{vuilbak.vuilbak.straat}}</span>
                                </p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-2"></div>
                                    <div class="col-lg-6 col-md-5 col-sm-8">
                                        <h3 class="align-items-center d-flex justify-content-center shadow">Brand!</h3>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-2"></div>
                                </div>
                                    <div class="fireDumpster align-items-center d-flex justify-content-center">
                                        <i class="fas fa-dumpster-fire fa-10x"></i>
                                    </div>
                                <div>
                                    <iframe
                                        *ngIf="vuilbak.vuilbak.breedtegraad != null && vuilbak.vuilbak.lengtegraad != null"
                                        class="iFrame shadow mt-3" [src]="frameUrls[i]" frameborder="0"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                </ng-container>
            </div>            
        </div>
    </section>
</div>