@import "./variables";

body {
    color: #444444;
  }
  
  a {
    color: #ff4a17;
  }
  
  a:hover {
    color: #ff724a;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }
  
    /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
    padding: 60px 0;
    overflow: hidden;
    padding-top: 7% !important;
  }
  
  .section-bg {
    background-color: #f0f4f8;
  }
  
  .section-title {
    padding-bottom: 40px;
  }
  
  .section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $lightBlueTextColor;
    font-family: "Poppins", sans-serif;
  }
  
  .section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: $primaryGreen;
    margin: 4px 10px;
  }
  
  .section-title p {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: $darkBlueTextColor;
  }

  a {
    color: $primaryGreen;
  }
  
  a:hover {
    color: $primaryGreen;
    text-decoration: none;
  }

