/* You can add global styles to this file, and also import other style files */

@import "./navbar";

@import "./hero";

@import "./about";

@import "./general";

@import "./backToTopButton";

@import "./login";

@import "./bootstrapCards";

@import "./footer";

@import "./percentageIndicator";

@import "./vuilnisbakken";

@import "./iFrame";

@import "./filter";

@import "./table";

@import "./crudUsers";

@import "./addUser";

@import "./editAccount";

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&family=Mukta:wght@200&display=swap');

html, body {
     height: 100%; 
     scroll-behavior: smooth;
     scroll-padding-top: 70px;
     font-family: 'Maven Pro', sans-serif !important;
     font-family: 'Mukta', sans-serif;
    }
body { margin: 0;  }
