<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
   integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

<!-- ======= Hero Section ======= -->
<section id="hero">
   <div class="enquetes-herentals">
      <div class="hero-container" data-aos="fade-up" data-aos-delay="150">
         <h2>Welkom bij</h2>
         <h1>Smart City Herentals</h1>
         <h2>Mede mogelijk gemaakt door Connect IT </h2>
         <div class="intro">
            <div class="row">
               <div class="col-6">
                  <a href="#enquetes-herentals">
                     <div class="icon-box">
                        <div class="icon"><i class="bx bx-body"></i></div>
                        <h4 class="title">Enquetes</h4>
                     </div>
                  </a>
               </div>

               <div class="col-6">
                  <a href="#informatie">
                     <div class="icon-box">
                        <div class="icon"><i class="bx bx-body"></i></div>
                        <h4 class="title">Informatie</h4>
                     </div>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section><!-- End Hero -->

<div class="card">
   <div class="card-body">
      <!-- ======= Services Section ======= -->
      <div class="enquetes-herentals">
         <section id="enquetes-herentals">
            <div class="container">
               <div class="section-title">
                  <h2>Enquetes</h2>
                  <p>Enquetes stad Herentals</p>
               </div>

               <div class="row" *ngFor="let enquete of enquetes">
                     <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                        <a (click)="openEnquete(this.enquete.enqueteID)">
                           <div class="icon-box">
                              <div class="icon"><i class="bx bx-body"></i></div>
                              <h4 class="title">Enquete 1</h4>
                              <p class="description">{{enquete.naam}}</p>
                              <p>{{enquete}}</p>
                           </div>
                        </a>
                  </div>
               </div>
            </div>
         </section><!-- End Services Section -->
      </div>
   </div>

   <!-- ======= About Boxes Section ======= -->
   <div class="card">
      <div class="card-body">
         <section id="informatie" class="informatie">
            <div class="container">

               <div class="row">
                  <div class="col-lg-12 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                     <div class="card">
                        <div class="card-icon">
                           <i class="ri-information-fill"></i>
                        </div>
                        <div class="card-body">
                           <h2 class="card-title"><a href="">Over</a></h2>
                           <div class="card-text text-justify">
                              <p>
                                 Herentals is een stad dat in staat voor digitale verandering en optimalisatie van het
                                 leef comfort.
                                 Zo
                                 heeft stad Herentals een team van innovatieve studenten ingeschakeld om het
                                 vuilnisbakken systeem
                                 te
                                 digitaliseren. Hierdoor zal de hygiëne van de stad verbeteren en minder aan
                                 sluikstorting gedaan
                                 worden. De vuilnismannen weten perfect op welk moment een vuilnisbak vol is en kunnen
                                 door
                                 artificiële
                                 intelligentie zelfs voorspellingen doen.
                              </p>
                              <p>


                                 Met deze website willen de inwoners of toeristen een stem geven bij verdere
                                 ontwikkelingen in de
                                 stad.
                                 Daarvoor hebben we een online forum gemaakt en een fysieke kiosk voor personen die geen
                                 internet
                                 tot
                                 beschikking hebben. De kiosk zal te vinden zijn op het marktplein van de stad.
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section><!-- End About Boxes Section -->
      </div>
   </div>